.cropBox {
  --crop-scale: 1;
  --crop-sx: 0;
  --crop-sy: 0;
  --crop-inv-ratio: 1;
  @apply relative mx-auto max-h-full max-w-full 
  overflow-hidden bg-content1 rounded-lg;
}

.cropBox::before {
  content: "";
  padding-bottom: calc(var(--crop-inv-ratio) * 100%);
  display: block;
}

.cropImage {
  overflow: hidden;
  transform: translate3d(
      calc(var(--crop-sx) * 1px),
      calc(var(--crop-sy) * 1px),
      0
    )
    scale(var(--crop-scale));
  @apply h-full w-full shrink-0
  select-none overflow-hidden bg-cover bg-center
  bg-no-repeat;
}

.buttonsBox > * {
  @apply pointer-events-auto;
}
