.userCards {
  --min-col: 160px;
  --gap: 0.5rem;
  /* @apply gap-2; */
}

@media (min-width: theme("screens.lg")) {
  .userCards {
    --min-col: 200px;
  }
}

.userCard {
  @apply flex-v-base cursor-pointer rounded-xl
  border border-content1/30 bg-content1 
  bg-opacity-40 p-3 pt-5 transition;
}

.userCard:hover {
  @apply bg-opacity-70;
}

.userCard:focus,
.userCard:active {
  @apply scale-95;
}
